# Primeros objetos


1.   Objetos.
2.   Listas.
3.   Conjuntos.

En Python se puden realizar operaciones sobre objetos. Además, es útil para resolver un sistema de ecuaciones lineales.

$$
f(x,y)\begin{cases}
x+2y &= 3 \\
2x+4y &= 6
\end{cases}
$$

In [1]:
print("Hola Mundo!")

Hola Mundo!

## Primeros objetos


*   Números enteros
*   Números flotantes

In [3]:
# Crear variables
x = 3
y = 5

In [4]:
print(x+y)
print(x-y)
print(x*y)
print(x**y)
print(x/y)
print(x//y)
print(x%y)

8
-2
15
243
0.6
0
3

In [5]:
type(x+y)

int

In [6]:
type(x/y)

float